# Godot-specific ignores
.import/
*.import

test.tscn
export.cfg
export_presets.cfg
addons/kakoeimon.braintree/*.os
# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~
/*.obj
/__pycache__/
*.obj
